body {
    background-color: rgb(38, 38, 38);
}

main {
    background-color: rgb(229, 229, 229);
}

button:hover {
    cursor: pointer;
}

#bt-comecar {
    background-color: #00ffff00;
    color: rgb(0, 0, 0);
    border: 3px solid #1871ff;
    border-radius: 20px;
}


#bt-comecar:hover {
    background-color: #1871ff;
    color: aliceblue;
}

#cabecalho {
    background-color: #0c0d1a;
    color: #f6fdff;
}

#hm-pt2 {

    background-color: #0c0d1a;
    color: aliceblue;


}

#hm-pt2-hl {
    background-color: #1871ff;
}

#bt-login {
    background-color: #00ffff00;
    color: rgb(255, 255, 255);
    border: 2px solid #1871ff;
    border-radius: 8px;
}

#bt-login:hover{
    border-color: #ffffff;
}

#bt-cadastro {
    background-color: #1871ff;
    color: rgb(255, 255, 255);
    border: 2px solid #1871ff;
    border-radius: 8px;
}

#bt-cadastro:hover{
    background-color: #0062ff;
    border-color: #ffffff;
}

#form-logincadastro{
    border: 2px solid #0062ff;
    border-radius: 8px;
    background-color: #ffffff;
}

#form-logincadastro input{
    border: 2px solid #1871ff;
    border-radius: 5px;
    background-color: #f6fdff;
    
    
}

#card-treino{
    border: 2px solid #0062ff;
    border-radius: 5px;
    background-color: #0c0d1a;
    color: #f6fdff;
}

#barra-navegacao-bottom{

    background-color: #0c0d1a;;

}

#card-principal-treino-em-alta{

    background-color: #afafaf;
    border-radius: 8px;
    border: 0;

}

#nota-do-treino p{

    background-color: #ffffff;
    border-radius: 8px;

}